

b {
  background-color: #edbd31;
  border-radius: 50%;
  width: 10px;
}


.rating {
  display: flex;
  flex-direction: row-reverse;
  width: 200px;
  float: right;
  margin-right: 120px;
  margin-top: -190px;
  position: relative;
}

.rating input {
  display: none;
}

.rating label {
  position: relative;
  cursor: pointer;
  transition: .5s;
  filter: grayscale(1);
  margin-right: 7px;
}


.rating input:hover + label,
.rating input:checked + label
{
  filter: grayscale(0);
}

.rating input:not(:checked) ~ label:hover ,
.rating input:not(:checked) ~ label:hover ~ label
{
  filter: grayscale(0);
}

.rating input:checked ~ label {
  filter: grayscale(0);
}


.show {
  display: block;
}

.underText {
  position: absolute;
  font-family: 'Gotham Pro light';
  font-weight: 600;
  font-size: 16px !important;
  color: #5a5a5a !important;
  top: 40px;
  left: 0;
  right: 5px;
  width: 275px;
  display: none;
}



.main-title {
  color: #000;
  text-align: left;
  padding: 25px 0 0 10px;
  font-size: 26px;
  letter-spacing: -0.5px;
  margin-bottom: 0;
}

.me-estimate {
  margin-left: 50px;
}

.number {
  position: relative;
  background-color: #edbd31;
  font-size: 14px;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  text-align: center;
  top: 20px;
  right: 10px;
  display: table-cell;
  vertical-align: middle;
}

.instruction {
  width: 90%;
  background: #ffffff;
  border-radius: 30px;
  margin-top: 20px;
  padding: 0 25px 20px 25px;
  text-align: left;
}

.instruction p {
  font-family: "Gotham Pro light";
  font-weight: 1000;
  font-size: 18px;
  margin: 0 20px;
}

.instruction span {
  font-weight: 1000;
  color: #222;
  position: relative;
}

.wait {
  width: 90%;
  background: #ffffff;
  border-radius: 30px;
  margin-top: 20px;
  padding: 10px 25px 20px 30px;
}

.peers {
  margin-bottom: 20px;
}

.peers span {
  font-size: 22px;
  color: #222222;
}

.peers p {
  font-weight: 1000;
  text-align: left;
  font-size: 14px;
  margin-left: 30px;
  color: #414141;
}

.peer {
  display: block;
  width: 90%;
  background-color: #ececf2;
  border-radius: 15px;
  height: 65px;
  margin-top: 20px;
  cursor: pointer;
}

.peer .name {
  float: left;
  margin-left: 0;
  position: relative;
  top: -2px;
  color: #331969;
  font-family: "Gotham Pro";
  font-size: 26px;
  font-weight: 400;
  letter-spacing: -1px;
}

.peer-avatar {
  position: absolute;
  float: left;
  left: -15px;
  top: -5px;
  width: 75px;
}

.peers-pic {
    width: 75px;
    height: 75px;
    border-radius: 50%;
    overflow: hidden;
    position: relative;
    display: inline-block;
    float: left;
    left: -25px;
    top: -22px;
}

.chevron {
  position: relative;
  float: right;
  margin-right: 25px;
  font-size: 1.5em;
  color: #331969;
}

.dropbtn {
  background-color: #ececf2;
  color: white;
  padding: 16px;
  font-size: 16px;
  border: none;
  cursor: pointer;
  position: relative;
  z-index: 2;
}

.dropbtn:hover,
.dropbtn:focus {
  background-color: #ececf2;
}

.dropdown-content {
  display: none;
  padding-top: 50px;
  padding-bottom: 10px;
  background-color: #ececf2;
  width: 90%;
  border-radius: 15px;
  transform: translateY(-50px);
  position: relative;
  z-index: 1;
}

.dropdown-container {
  margin-left: 150px;
}

.show {
  display: block;
}

.ta {
  display: block;
  border-radius: 15px;
  border: 1px solid #8683f8;
  width: 60%;
  padding: 5px;
  font-size: 16px;
  resize: none;
  margin-bottom: 30px;
  margin-top: 15px;
  line-height: 1.5;
  position: relative;
}

.dropdownTitle {
  margin: 20px 0 5px 0;
  color: #2b2b2b;
  font-size: 28px;
  font-weight: 400;
  letter-spacing: -1px;
  text-align: left;
}

.list-icon {
  position: absolute;
  left: 130px;
  color: #cac9f7;
  width: 10px;
}

p.description {
  position: relative;
  font-family: "Gotham Pro light";
  font-size: 18px;
  width: 62%;
  line-height: 1;
  font-weight: 1000;
  line-height: 18px;
  letter-spacing: -0.04em;
  margin: 0 0 10px 0;
  color: #3c3c3c;
}

input[type=submit] {
    font-family: 'Gotham Pro light';
    font-weight: 1000;
    letter-spacing: 1px;
    background-color: #A5A4F5;
    border: none;
    color: white;
    padding: 10px 7px;
    width: 250px;
    text-align: center;
    display: inline-block;
    font-size: 20px;
    cursor: pointer;
    border-radius: 25px;
    -webkit-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    -ms-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
    box-shadow: 0px 2.03599px 5.08997px rgba(0, 0, 0, 0.25);
    display: block;
    margin-bottom: 25px;
}

input[type=submit]:active {
    -moz-transform: scale(0.95);
    -webkit-transform: scale(0.95);
    -o-transform: scale(0.95);
    -ms-transform: scale(0.95);
    transform: scale(0.95)
}

/*.rating {*/
/*  float: right;*/
/*  margin-right: 50px;*/
/*}*/

/*.rate {*/
/*  background-color: #EDBD31;*/
/*  padding: 5px;*/
/*  width: 25px;*/
/*  width: 40px;*/
/*  border-radius: 50%;*/
/*  margin: 5px;*/
/*}*/
