
h2 {
  display: inline-block;
  color: #222;
  font-size: 32px;
}

.main-title {
  text-align: left;
  color: #222;
  margin-top: 30px;
  font-size: 38px;
  margin-bottom: 0;
}

.double-links {
    display: inline-block;
    margin-top: 25px;
    padding: 10px 0px;
    background-color: #fff;
    border-radius: 25px;
    border: 1px solid #EDBD31;
    box-shadow: 0px 4px 5px rgba(0, 0, 0, 0.25);
}

.d-link {
    background-color: transparent;
    border-radius: 20px;
    padding: 12px 50px 11px 50px;
    letter-spacing: 1px;
    font-weight: 1000;
    font-family: 'Gotham Pro light';
}

.dactive {
    background: #A5A4F5;
    color: #fff;
}

.second-link {
    margin-left: -5px;
}

.date {
  font-weight: 400;
  text-align: left;
  line-height: 1;
  height: 70px;
}

.container {
  margin-left: 50px;
}

.peers {
  width: 90%;
  background: #ffffff;
  padding: 20px 0;
  border-radius: 30px;
  position: relative;
  top: 50px;
  padding: 0 0 35px 50px;
}

.peers span {
  font-size: 22px;
  color: #222222;
}

.peers p {
  font-weight: 1000;
  text-align: left;
  font-size: 14px;
  margin-left: 30px;
  color: #414141;
}

.peer {
  display: block;
  width: 95%;
  background-color: #ececf2;
  border-radius: 15px;
  height: 65px;
  margin-top: 20px;
  cursor: pointer;
}

.peer .name {
  float: left;
  margin-left: 60px;
  position: relative;
  color: #331969;
  font-family: "Gotham Pro";
  font-size: 22px;
  font-weight: 1000;
}

.peer .position {
  color: #edbd31;
  font-weight: 400;
  position: relative;
  float: right;
  margin-right: 25px;
}

.peer-avatar {
  position: absolute;
  float: left;
  left: -20px;
  top: -5px;
  width: 75px;
}

.chevron {
  position: relative;
  float: right;
  margin-right: 25px;
  font-size: 1.5em;
  color: #331969;
}

.dropbtn {
  background-color: #ececf2;
  color: white;
  padding: 16px;
  font-size: 16px;
  border: none;
  cursor: pointer;
  position: relative;
  z-index: 2;
}

.dropbtn:hover, .dropbtn:focus {
  background-color: #ececf2;
}

.dropdown-content {
  display: none;
  padding-top: 70px;
  background-color: #ececf2;
  width: 95%;
  border-radius: 15px;
  transform: translateY(-50px);
  position: relative;
  z-index: 1;
}

.dropdownTitle {
  color: #000;
  margin-left: 30px;
  margin-bottom: 10px;
  font-size: 22px;
}

.show {
  display: block;
}

.ta {
  border-radius: 15px;
  border: none;
  width: 90%;
  padding: 20px;
  font-size: 16px;
  resize: none;
  margin-bottom: 30px;
  line-height: 1.5;
}

.icon-lock {
  padding: 5px;
  border-radius: 50%;
  background-color: #331969;
  color: #fff;
  font-size: 14px;
  position: relative;
  top: -3px;
  margin-right: -2px;
}

.rotate{
    -moz-transition: all 0.2s linear;
    -webkit-transition: all 0.2s linear;
    transition: all 0.2s linear;
}

.rotate.down{
    -ms-transform: rotate(90deg);
    -moz-transform: rotate(90deg);
    -webkit-transform: rotate(90deg);
    transform: rotate(90deg);
}

.hide {
  display: none;
}