a {
    text-decoration: none;
    color: #000000;
}

.sidebar {
    position: fixed;
    width: 20vw;
    height: 100vh;
    background-color: #f8f8fa;
    border-right: 1px solid #e7e7e7;
    box-shadow: 2px 0px 5px rgba(0, 0, 0, 0.25);
}

.profile-div {
    color: #000;
    margin-top: 100px;
    /* height: 7.25em; */
    margin-left: 25px;
}

.profile-div h2 {
    width: 100%;
    margin: 0;
    font-size: 26px;
    font-weight: 1000;
    line-height: 27px;
    letter-spacing: 0em;
    /* margin-top: 1em; */
}

.profile-div p {
    position: relative;
    top: -0.25em;
    color: #414141;
    line-height: 1.25;
}

.profile-pic {
    display: inline-block;
    vertical-align: middle;
}

.profile-name {
    position: relative;
    display: inline-block;
    text-align: left;
    margin-left: 20px;
    top: 0.5em;
}

.menu-items {
    display: flex;
    flex-direction: column;
    margin-top: 0px;
}

.side-btn {
    border: none;
    padding: 10px 0px;
    cursor: pointer;
    font-size: 18px;
    font-weight: 700;
    color: #000;
    margin: 0 15px 0 15px;
    background-color: transparent;
    margin-top: 0.2em;
}

.perfomance {
    border: none;
    padding: 10px 0px;
    font-size: 18px;
    font-weight: 700;
    color: #000;
    background-color: transparent;
    margin: 15px 15px 0 5px;
}

.side-btn.small {
    margin-left: 3.75em;
    font-size: 18px;
    font-weight: 400;
}

.side-btn:hover {
    background-color: rgba(165, 164, 245, 0.25);
    border-radius: 2em;
    transition: 0.2s;
}

.side-btn.active {
    position: relative;
    background-color: rgba(165, 164, 245, 0.56);
    border-radius: 3em;
    transition: 0.2s;
    display: inline-block;
}

/* Нужно доделать, чтобы было красиво */
.amount {
    position: absolute;
    font-size: 14px;
    margin-top: 0.2em;
    margin-left: 1em;
}

/*------------------------------------------*/

.amount-bg {
    position: absolute;
    width: 65px;
    height: 20px;
    background-color: #edbd31;
    border-radius: 0.5em;
    margin-top: -1.1em;
    margin-left: 6.5em;
}

.amount-bg.second {
    width: 48px;
    margin-left: 6.75em;
}

.link-container {
    text-align: left;
    margin-left: 20px;
}

.side-btn:last-child {
    color: #8e8e8e;
    font-weight: 400;
}

@media (max-width: 800px) {
    h2 {
        text-align: center;
    }

    .profile-div {
        margin-top: 80px;
    }

    .profile-name {
        margin-top: -20px;
        margin-left: 0px;
    }

    .menu-items {
        margin-top: -10px;
    }

    .profile-pic {
        position: relative;
        left: 10px;
    }
}

@media (max-width: 1536px) {
    .side-btn:last-child {
        font-size: 16px;
    }

    h2 {
        text-align: center;
    }

    .profile-name {
        margin-top: -10px;
        /* margin-left: 0px; */
        position: relative;
        left: -10px;
    }

    .menu-items {
        margin-top: 10px;
    }

    .link-container {
        font-size: 16px;
    }

    .side-btn:last-child {
        font-size: 12px;
    }

    .side-btn.small {
        margin-left: 0px;
    }

    .side-btn {
        margin-left: 0px;
    }
}

@media (max-width: 800px) {
    .sidebar {
        display: none;
    }
}