<!DOCTYPE html>
<html lang="ru">
<head>
    {% load static %}
    <title>{% block title %}{% endblock %}Perforator</title>
    <link rel="icon" href="{% static 'img/favicon.ico' %}"/>
    <meta charset="utf-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <script src="https://kit.fontawesome.com/067c93b7db.js" crossorigin="anonymous"></script>
    {% block styles %}{% endblock %}
    <link rel="stylesheet" href="{% static 'css/baseStyles.css' %}">
</head>
<body>
<div id="content">
    {% block content %}{% endblock %}
</div>
</body>
</html>